.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-body {
  flex-grow: 1;
  padding: 10px;
}

.app-footer {
  background-color: #f3e5f5;
  text-align: center;
  padding: 10px;
}

.todo-list-container {
  text-align: center;
  margin: 0px 20% 0px;
}

.todo-item {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ul {
  padding-inline-start: 0px;
}
